* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Open Sans', sans-serif;
    background: #000 url(../images/bg2400.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: center;

    @media screen and (max-width: 400px) {
        background-image: none;
    }
}

#content {
    padding: 0 4em;

    @media screen and (max-width: 400px) {
        padding: 0 2em;
    }
}

h1 {
    color: #7E6C5B;
    font-weight: 300;
    font-size: 3em;
}

p {
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

footer {
    display: none;
}
