$mobile-bp: 414px;
$color-fg: rgba(255,255,255,0.66);

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: #000 url(../images/bg2400.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
    color: $color-fg;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $mobile-bp) {
        animation: none;
        background-size: 120%;
        background-position: 140% -5%;
    }

    &:after {
        content: "";
        height: 100%;
        width: 100%;
        background: #000;;
        position: absolute;
        z-index: 0;
        opacity: 0;

        @at-root {
            @keyframes fadeout {
                from { opacity: 1; }
                to { opacity: 0; }
            }
        }

        animation: fadeout 3s;
        animation-timing-function: ease-out;
    }
}

a {
    color: $color-fg;
    text-decoration: none;
    font-weight: 600;
}

#content, footer {
    padding: 0 4em;
    @media screen and (max-width: $mobile-bp) {
        padding: 0 2em;
    }
}

#content {
    z-index: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

footer {
    z-index: 1;
    padding-bottom: 2em;
}

h1 {
    color: #7E6C5B;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    font-size: 3em;
    line-height: 1;
}

p {
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.copyright {
    font-size: .7em;
}

.links {
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;

    li {
        display: inline-block;
        margin: 0 10px 0 0;
    }
}

.icon {
  display: block;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  background-color: $color-fg;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.twitter { background-image: url(../images/twitter-square.svg); }
.github { background-image: url(../images/github-square.svg); }
.linkedin { background-image: url(../images/linkedin.svg); }
