@charset "utf-8";

@import "normalize";
@import "utils";

$fontAwesomePath:   "../components/font-awesome/font";
@import "../components/font-awesome/sass/font-awesome";

$lightColor: #fff;
$darkColor: #1c1c1c;

body {
  font-family:'Open Sans', sans-serif;

  background:transparent url("../images/bg-16x10.jpg") no-repeat center top fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;

  font-weight:300;
}

#wrapper {
  background:$lightColor;
  background:rgba(255,255,255,.8);
  color:$darkColor;

  position:absolute;
  left:10%;
  height:100%;
  width:480px;
  min-height:100%;
}

header, section, footer {
  padding:0 40px;
}

header {
  h1 {
    font-size:48px;
    font-weight:300;

    text-align:left;
  }
}

footer {
  position:absolute;
  bottom:60px;
  width:400px;
  text-align:center;
}

.social-list {
  list-style:none;
  padding:0;
  margin:0;

  li {
    padding:0;
    margin:0 15px;
    display:inline-block;
  }

  a {
    color:$darkColor;
    text-decoration:none;

    font-size:32px;

    &:hover, &:visited, &:focus, &:active {
      color:$darkColor;
    }

    &:hover > .tooltip {
      opacity:1;
    }
  }
}

.tooltip {
  position:absolute;
  z-index:10;
  display:block;
  visibility:visible;
  font-size:13px;
  line-height:1.4;
  opacity:0;

  text-align:left;

  @include transition-all(0.2s);
}

@media all and (max-width: 1000px) {
  #wrapper {
    left:0;
  }
}

@media all and (max-width: 720px) {
  body {
    background:#fff url("../images/bg-16x10.jpg") no-repeat right top;
    -webkit-background-size:100%;
    -moz-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
  }

  #wrapper {
    width:100%;
    margin:60% 0 0 0;
  }

  header, section {
    padding:0 20px;
  }

  footer {
    position:static;
    width:auto;
    margin:50px 0 0 0;
  }
}